

/*-----------------------------------------------------------
General Styles
-------------------------------------------------------------*/

body {
    max-width: 100%;
    margin: 0 auto;
}

.main {
    max-width: 100%;
    border: none;
    padding: 0;
    margin: 0;
}

h1 {
    margin-bottom: 1vh;
}


a {
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 3px solid transparent;
    &:hover, &:focus {
      border-bottom: 3px solid currentColor;
    }
}

section {
    max-width: 68%;
    margin: 0 auto;
}

.post-meta {
    font-size: 0.8rem;
    font-style: italic;
    display: block;
    margin-bottom: 4vh;
    color: var(--secondary-color);
}

nav {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: var(--bg-color);
    color: var(--font-color);
}

/*slider switch css */
.theme-switch-wrapper {
    display: flex;
    align-items: center;

}
.theme-switch {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 40px;
    margin: auto;
}

.theme-switch input {
    display:none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 12px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 12px;
}

.navbar-toggler{
    background-color: var(--bg-color);
    color: var(--font-color);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(19px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.left-side-wrapper{
    background-image: var(--homeimage);
    width: 100%;
    background-blend-mode: multiply;
    background-size: cover;
    background-size: 110% auto;
    background-position: 50% 50%;
    position: relative;
    padding-bottom: 60%;

}
.right-side-wrapper {
    position: relative;
    width: 100%;
}

/*-----------------------------------------------------------
Navigation
-------------------------------------------------------------*/

/* Small viewports (stacked name & nav links) */

a.title-brand {
    display: block;
    border: none;
    transition: none;
}

a.title-brand:hover {
    border-color: var(--font-color);
}

a.title-brand h1 {
    display: block;
    margin: 0;
}

a.title-brand {
    padding: 0.75rem 2rem 0.9rem;
}

/*-----------------------------------------------------------
Large viewport rearrange
-------------------------------------------------------------*/

@media (min-width: 1000px) {
    a.title-brand {
        transform: rotateZ(90deg);
        transform-origin: bottom left;
        position: fixed;
        left: 0;
        top: -3rem;
        height: 3rem;
        width: 12rem;
        z-index: 4;
    }
    .main {
        max-width: calc(100%-3rem);
        border: none;
        padding: 0;
        margin-left: 3rem;
    }
    nav {
        padding: 0.8rem 2rem 1.25rem;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .left-side-wrapper {
        position: fixed;
        width: 50%;
    }
    .right-side-wrapper {
        position: relative;
        width: 50%;
        float: right;
    }

    .left-side-wrapper{
        background-image: var(--homeimage);
        position: fixed;
        background-size: cover;
        background-position: 50% 50%;
        height: 100vh;
    }
    .right-side-wrapper {
        position: relative;
        width: 50%;
        float: right;
    }
}