:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}


body {
    font-family: Montserrat, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-size: calc(0.8rem + 0.25vh);
}


h1 {
    color: var(--heading-color);
    font-family: Montserrat, Verdana, sans-serif;
    font-size: 1rem;
}

p {
    font-size: 0.8rem;
    line-height: 1.6rem;
}